.container {
    width: 100%;
}

.searchBox button {
    margin-left: 1%;
}

p {
    font-size: 18px;
    text-align: justify;
}

:host ::ng-deep .slider {
    margin-top: 2% ; 
    width: 100%;
}

.result {
    text-align: center;
}