.container {
    width: 100%;
}

.searchBox button {
    margin-left: 1%;
}

p {
    font-size: 18px;
    text-align: justify;
}

:host ::ng-deep .slider {
    margin-top: 2% ; 
    width: 100%;
}

#selectedGif {
    width: 100%;
}

.result {
    text-align: center;
}

.likedGIF {
    width: 100%;
    margin-bottom: 5%;
}

.chosenGIFs h1, .randomGIF h1 {
    font-family: Adventure;
    text-align: center;
}