<div class="container">
  <div class="select">
    <!--Description of the application-->
    <div class="description">
      <p>Find out how weird you are by selecting the GIFs that make you laugh </p>
      <div>
        <input pInputText type="text" placeholder="Search for GIF" />
        <button pButton label="Search"></button>
      </div>
    </div>
    <!--The random GIF that shows up after searching-->
    <div class="randomGIF"></div>
  </div>
  <!--The liked GIFS-->
  <div class="chosenGIFs">

  </div>
</div>
