<div class="container ui-g">
  <div class="select ui-g-6 ui-g-nopad">
    <!--Description of the application-->
    <div class="description ui-g-10 ui-g-offset-2">
      <p>Find out how weird you are by selecting the GIFs that make you laugh. We will show you the least
        weird ones to start, but you can move the slider to make them weirder.
      </p>
      <p>When you find a GIF you like, press the Like button. Once you like 5 GIFs 
        we'll show you how weird you are.
      </p>
      <div class="searchBox">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="25" #searchBox (keyup.enter)="searchForWeirdness(searchBox.value)" pInputText> 
          <label for="float-input">Search for GIFs</label>
          <button pButton (click)="searchForWeirdness(searchBox.value)" icon="fas fa-search" label="Search"></button>
        </span>
      </div>
    </div>
    <hr>
    <!--The random GIF that shows up after searching-->
    <div class="randomGIF ui-g-10 ui-g-offset-2">
      <h1>Your Result</h1>
      <div class="result">
        <div class="ui-g-12">
          <img id="selectedGif" [src]="gif.url ? gif.url : 'assets/images/missingGif.png'" alt="{{gif.title}}" />
        </div>
        <div *ngIf="gif.url">
          <button pButton label="Like" icon="fas fa-heart" (click)="like()" class="like btn btn-info"></button>
          <p-slider id="slider" [min]="0" [max]="10" [(ngModel)]="weirdness" (onSlideEnd)="searchForWeirdness()" styleClass="slider"></p-slider>
          <span class="badge badge-primary">Weirdness level: {{weirdness}}</span>
        </div>
      </div>
    </div>
  </div>
  <!--The liked GIFS-->
  <div class="chosenGIFs ui-g-6">
    <h1>Your Likes</h1>
    <div class="alert alert-dark" *ngIf="myLikes.length === 0" role="alert">
      You haven't liked any GIF till now! What are you waiting for?!
    </div>
    <div class="gifDiv ui-g-6" *ngFor="let likedGIF of myLikes">
        <span>
          <h5>{{likedGIF.title}}</h5>
          <img src="assets/images/close.png" (click)="unlike(likedGIF)" class="close" alt="close"/>
        </span>
        <img class="likedGIF" src="{{likedGIF.url}}" alt="GIF" />
    </div>
  </div>
</div>
