h5 {
    font-family: Adventure;
    width: 50%;
}

.result {
    margin-top: 3%;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    font-family: Adventure;
}

.likedGIF {
 width: 50%;
}